<% provide(:title, 'About Us') %>


<h1>This is About Us on Dragon Ball</h1>
<p>
  The <a href="http://dragonball.wikia.com/wiki/Main_Page">This is Dragon Ball Tutorial</a>
  is a project to familiarize you with the classic dragon ball anime <a href="http://www.youtube.com/watch?v=1GYYV5a5B_o">DB opening</a>. This
  is the About us for the tutorial.
</p>
