<% provide(:title, 'Blog')%>

<h1>Here we share Dragon ball Blog </h1>
<p>
  The <a href="http://thedragonballblog.blogspot.com">Blog page </a>
  is the place you share your blogs
   <a href="https://twitter.com/intent/tweet?original_referer=https%3A%2F%2Fwww.blogger.com%2Fnavbar-more.g%3Fdata%3DAPq4FmBegb2FHgvKqJlWRjiTeOnu0gftf73BeUU7YQUmELQ1YqfK74WXGB1Kd_sQntHKm2h_-T8eeYk4ODPCxuKnkeG9hPmvf6oRhfwPJNeNLA0IYRVKBXhzjRXFK-kx21HgWq6QZUmbAH1226GMLhkZcMV4-WgG18ods9xgiwGfnncFmbPzMT06eLNuUCFj45_cMvBk_tMkai_RbfpYcd1eOUe9O8m8U0BjCqC-UNWCFaFoSYdWCzNcQbC1VIJchXKQBZhd2fO1%26usegapi%3D1%26jsh%3Dm%253B%252F_%252Fscs%252Fapps-static%252F_%252Fjs%252Fk%253Doz.gapi.en_US.68HYMjN3xUA.O%252Fm%253D__features__%252Fam%253DIQ%252Frt%253Dj%252Fd%253D1%252Ft%253Dzcms%252Frs%253DAItRSTMc4OEVZiUO_olTLSn-8hOqNvBIoA&text=Dragon+Blog&url=http%3A%2F%2Fthedragonballblog.blogspot.com%2F%3Fspref%3Dtw"> Share blogs on Twitter</a>. This
  is the Second Project for the tutorial.
</p>
