<% provide(:title, 'Blog')%>

<h1>Blog</h1>
<p>
  The <a href="http://railstutorial.org/">Blog page </a>
  is the place you share your blogs
   <a href="http://rubyonrails.org/">Ruby on Rails</a>. This
  is the Second Project for the tutorial.
</p>
