<% provide(:title, 'FAQ') %>

<h1>FAQ</h1>
<p>
  The <a href="http://railstutorial.org/">Frequently asked Question</a>
  is a way to know your answers <a href="http://rubyonrails.org/">Ruby on Rails here </a>. This
  is the Second Project for the tutorial.
</p>
</body>
</html>