<% provide(:title, 'FAQ') %>

<h1>FAQ</h1>
<p>
  The <a href="http://www.imdb.com/title/tt0214341/faq">Frequently asked Question</a>
  is a way to know your answers <a href="http://www.dragonballgt.com">Dragon Ball </a>. This
  is the Second Project for the tutorial.
</p>
