<div class="center hero-unit">
  <h1>Welcome to the Second Project</h1>
<h2>
  This is the home page for our Second Project.
<h2>
	
<%= link_to "Register Now!", '#', class: "btn btn-large btn-primary" %>
</div>


