<footer class="footer">
  <small>
    <a href="http://wall.alphacoders.com/by_sub_category.php?id=179743">Dragon Ball Tutorial</a>
    by Yihong dai, di zhen
  </small>
  <nav>
    <ul>
      <li><%= link_to "About",   about_path %></li>
    </ul>
  </nav>
</footer>